<!DOCTYPE html>
<html>
<head>
  <title>Sign up/login</title>
</head>
<body>
  <h1>Sign up/Login</h1>
  <form method="post" action="/login">
    <input type="submit" value="Login"/>
  </form>
  <form method="post" action="/signup">
    <input type="submit" value="Sign Up"/>
  </form>
</body>
</html>
