<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/login" method="get" >
      <input type="submit" value="login">
    </form>
    <form method="get" action="/signup">
      <input type="submit" value="signup">
    </form>
  </body>
</html>
