<!DOCTYPE html>
<html>
<head>
  <title>New Pirate</title>
</head>
<body>
  <h1>Login</h1>
  <form method="post" action="/">
    Name: <input type="text" name="name">
    Catchphrase: <input type="text" name="catchphrase">
    <input type="submit" value="Make Pirate"/>
  </form>
</body>
</html>
